@model Academy2023.Net.Models.UserData

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h3>Insert Profile Picture</h3>
                <input type="file" name="addPicture" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderID" class="control-label"></label>
                <select asp-for="GenderID" class ="form-control" asp-items="ViewBag.GenderID"></select>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CF" class="control-label"></label>
                <input asp-for="CF" class="form-control" />
                <span asp-validation-for="CF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="License" class="control-label"></label>
                <input asp-for="License" class="form-control" />
                <span asp-validation-for="License" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthID" class="control-label" hidden></label>
                <input asp-for="AuthID" class="form-control" value="@this.User.Identity.Name" hidden/>
                <span asp-validation-for="AuthID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="HasCar" value="false" hidden/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
