@model Academy2023.Net.Models.Car

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserDataID" class="control-label"></label>
                <select asp-for="UserDataID" class ="form-control" asp-items="ViewBag.UserDataID"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaxSeat" class="control-label"></label>
                <input asp-for="MaxSeat" class="form-control" />
                <span asp-validation-for="MaxSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegNum" class="control-label"></label>
                <input asp-for="RegNum" class="form-control" />
                <span asp-validation-for="RegNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelTypeID" class="control-label"></label>
                <select asp-for="FuelTypeID" class ="form-control" asp-items="ViewBag.FuelTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarCategoryID" class="control-label"></label>
                <select asp-for="CarCategoryID" class ="form-control" asp-items="ViewBag.CarCategoryID"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrunkAvailable" /> @Html.DisplayNameFor(model => model.TrunkAvailable)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
